
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Comfortaa';
  font-style: normal;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.flex-item-left {
  padding: 10px;
  flex: 70%;
}

.flex-item-right {
  padding: 10px;
  flex: 30%;
  text-decoration: none;
}

button {
  display: block;
 }

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px) 
{
    .flex-container {
        flex-direction: column;
      }
      .body > div > div.flex-item-left
      {
          padding-left: 0em;
          padding-right: 0em;
          font-size: 6px;
          margin: 0;
      }
}

@media (max-width: 1200px) {
    .flex-container {
      flex-direction: column;
    }
    .body > div > div.flex-item-left
    {
        padding-left: 0em;
        padding-right: 0em;
    }
    body > div > div.flex-item-right > a:nth-child(1) > button,
    body > div > div.flex-item-right > a:nth-child(2) > button
    {
        align-items: center;
        width: 36px;
        height: 40px;
        
    }
  }

  body > div > div.flex-item-left
  {
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    letter-spacing: -0.015em;
    color: #000000;
    margin-top: 2px;
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 7em;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  body > div > div.flex-item-right > a:nth-child(1) > button,
  body > div > div.flex-item-right > a:nth-child(2) > button
  {
    background-color: #000000;
    color: #F5F5F5;
    border-radius: 15px;
    width: 406px;
    height: 70px;
    left: 942px;
    top: 123px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 54px;
    align-items: center;
    letter-spacing: -0.015em
  }
  body > div > div.flex-item-right > a:nth-child(1) > button
  {
      margin-top: 50px;
  }
  body > div > div.flex-item-right > a:nth-child(2) > button
  {
      margin-top: 20px;
  }

  body > div > div.flex-item-right > img
  {
    left: 90.5em;
    margin-top:40%;
    bottom: 17.33%;
    width:200px;
    height: 140px;
  }
